In [1]:
import pandas as pd

In [2]:
print('Series with numbers')
ser1=pd.Series([10,20,30,40,50])
print(ser1)

Series with numbers
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [3]:
print('Series with strings')
ser2=pd.Series(['python','AWS','java'])
print(ser2)

Series with strings
0    python
1       AWS
2      java
dtype: object

In [4]:
print("Slicing Series")
print(ser1[1:4])
print(ser1[::-1])
print(ser2.iloc[-1])
print(ser2.head())
print(ser2.tail())
print(ser2.head(2))
print(ser2.tail(2))

Slicing Series
1    20
2    30
3    40
dtype: int64
4    50
3    40
2    30
1    20
0    10
dtype: int64
java
0    python
1       AWS
2      java
dtype: object
0    python
1       AWS
2      java
dtype: object
0    python
1       AWS
dtype: object
1     AWS
2    java
dtype: object

In [5]:
print('DataFrames with numbers')
df1=pd.DataFrame({1,2,3,4,5})
print(df1)

DataFrames with numbers
   0
0  1
1  2
2  3
3  4
4  5

In [6]:
print('DataFrames with strings')
df2=pd.DataFrame({'id':['101','102','103','104','105'],'course':['java','AWS','python','cloud','html']})
print(df2)
print(df2['id'])
print(df2['id'][1:3])
print(df2['course'])
print(df2['course'][1:4])

DataFrames with strings
    id  course
0  101    java
1  102     AWS
2  103  python
3  104   cloud
4  105    html
0    101
1    102
2    103
3    104
4    105
Name: id, dtype: object
1    102
2    103
Name: id, dtype: object
0      java
1       AWS
2    python
3     cloud
4      html
Name: course, dtype: object
1       AWS
2    python
3     cloud
Name: course, dtype: object

In [7]:
print("Slicing Series")
print(df1[1:3])
print(df1[::-1])
print(df1.iloc[-3])
print(df2.head())
print(df2.tail())
print(df2.head(2))
print(df2.tail(2))

Slicing Series
   0
1  2
2  3
   0
4  5
3  4
2  3
1  2
0  1
0    3
Name: 2, dtype: int64
    id  course
0  101    java
1  102     AWS
2  103  python
3  104   cloud
4  105    html
    id  course
0  101    java
1  102     AWS
2  103  python
3  104   cloud
4  105    html
    id course
0  101   java
1  102    AWS
    id course
3  104  cloud
4  105   html

In [8]:
df3=pd.DataFrame({'sid':['101','102','103','104','105','106','107','108','109','110'],
      'sname':['ramu','ravi','kiran','raju','karthik','kumar',
               'balu','srinu','kishore','john']
      })
print(df3)
print(df3.iloc[1])
print(df3.iloc[0,0])
print(df3.iloc[5,1])

   sid    sname
0  101     ramu
1  102     ravi
2  103    kiran
3  104     raju
4  105  karthik
5  106    kumar
6  107     balu
7  108    srinu
8  109  kishore
9  110     john
sid       102
sname    ravi
Name: 1, dtype: object
101
kumar

In [9]:
df4=pd.DataFrame({
    'empno':[1001,1002,1003,1004,1005,1006,1007,1008],
    'ename':['ravi','ramu','raju','hari','giri','suri','raghu','kumar'],
    'job':['dev','tester','dev','devops','manager','dev','tester','dev']
})
print(df4)
print(df4.iloc[1,2])
print(df4.iloc[3,2])
print(df4.iloc[7,1])
print(df4.iloc[0:5])
print(df4.iloc[::-1])
print(df4.iloc[:,0])#complete record,1st column
print(df4.iloc[:,1])
print(df4.iloc[:,2])

   empno  ename      job
0   1001   ravi      dev
1   1002   ramu   tester
2   1003   raju      dev
3   1004   hari   devops
4   1005   giri  manager
5   1006   suri      dev
6   1007  raghu   tester
7   1008  kumar      dev
tester
devops
kumar
   empno ename      job
0   1001  ravi      dev
1   1002  ramu   tester
2   1003  raju      dev
3   1004  hari   devops
4   1005  giri  manager
   empno  ename      job
7   1008  kumar      dev
6   1007  raghu   tester
5   1006   suri      dev
4   1005   giri  manager
3   1004   hari   devops
2   1003   raju      dev
1   1002   ramu   tester
0   1001   ravi      dev
0    1001
1    1002
2    1003
3    1004
4    1005
5    1006
6    1007
7    1008
Name: empno, dtype: int64
0     ravi
1     ramu
2     raju
3     hari
4     giri
5     suri
6    raghu
7    kumar
Name: ename, dtype: object
0        dev
1     tester
2        dev
3     devops
4    manager
5        dev
6     tester
7        dev
Name: job, dtype: object

In [16]:
df5=pd.DataFrame({
    'empno':[1001,1002,1003,1004,1005,1006,1007,1008],
    'ename':['ravi','ramu','raju','hari','giri','suri','raghu','kumar'],
    'job':['dev','tester','dev','devops','manager','dev','tester','dev'],
    'sal':[2443,7922,3579,5793,7942,8327,5932,4792]
})
print(df5)
print(df5.iloc[[0,1,2],[1,3]])

   empno  ename      job   sal
0   1001   ravi      dev  2443
1   1002   ramu   tester  7922
2   1003   raju      dev  3579
3   1004   hari   devops  5793
4   1005   giri  manager  7942
5   1006   suri      dev  8327
6   1007  raghu   tester  5932
7   1008  kumar      dev  4792
  ename   sal
0  ravi  2443
1  ramu  7922
2  raju  3579

np.int64(2443)

In [18]:
df5.loc[1,'sal']

np.int64(7922)

In [20]:
df5.loc[3,['ename','sal']]

ename    hari
sal      5793
Name: 3, dtype: object