In [1]:
import pandas as pd

In [2]:
print('Series with numbers')
ser1=pd.Series([10,20,30,40,50])
print(ser1)

Series with numbers
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [3]:
print('Series with strings')
ser2=pd.Series(['python','AWS','java'])
print(ser2)

Series with strings
0    python
1       AWS
2      java
dtype: object

In [4]:
print("Slicing Series")
print(ser1[1:4])
print(ser1[::-1])
print(ser2.iloc[-1])
print(ser2.head())
print(ser2.tail())
print(ser2.head(2))
print(ser2.tail(2))

Slicing Series
1    20
2    30
3    40
dtype: int64
4    50
3    40
2    30
1    20
0    10
dtype: int64
java
0    python
1       AWS
2      java
dtype: object
0    python
1       AWS
2      java
dtype: object
0    python
1       AWS
dtype: object
1     AWS
2    java
dtype: object

In [5]:
print('DataFrames with numbers')
df1=pd.DataFrame({1,2,3,4,5})
print(df1)

DataFrames with numbers
   0
0  1
1  2
2  3
3  4
4  5

In [6]:
print('DataFrames with strings')
df2=pd.DataFrame({'id':['101','102','103','104','105'],'course':['java','AWS','python','cloud','html']})
print(df2)
print(df2['id'])
print(df2['id'][1:3])
print(df2['course'])
print(df2['course'][1:4])

DataFrames with strings
    id  course
0  101    java
1  102     AWS
2  103  python
3  104   cloud
4  105    html
0    101
1    102
2    103
3    104
4    105
Name: id, dtype: object
1    102
2    103
Name: id, dtype: object
0      java
1       AWS
2    python
3     cloud
4      html
Name: course, dtype: object
1       AWS
2    python
3     cloud
Name: course, dtype: object

In [7]:
print("Slicing Series")
print(df1[1:3])
print(df1[::-1])
print(df1.iloc[-3])
print(df2.head())
print(df2.tail())
print(df2.head(2))
print(df2.tail(2))

Slicing Series
   0
1  2
2  3
   0
4  5
3  4
2  3
1  2
0  1
0    3
Name: 2, dtype: int64
    id  course
0  101    java
1  102     AWS
2  103  python
3  104   cloud
4  105    html
    id  course
0  101    java
1  102     AWS
2  103  python
3  104   cloud
4  105    html
    id course
0  101   java
1  102    AWS
    id course
3  104  cloud
4  105   html