In [ ]:
#Time series

In [1]:
from sqlalchemy import create_engine

In [3]:
enginee=create_engine('mysql+mysqlconnector://root:root@localhost/EmployeeDB')

In [4]:
import pandas as pd

In [6]:
emp=pd.read_sql('select * from employee',enginee)

In [7]:
emp

,emp_id,emp_name,job_title,salary,hire_date,dept_id,manager_id
0,101,John Mathews,General Manager,90000.0,2017-03-10,50,NaN
1,102,Priya Sharma,HR Manager,75000.0,2018-06-21,10,101.0
2,103,Ravi Kumar,Finance Manager,72000.0,2019-02-11,20,101.0
3,104,Anita Singh,IT Manager,85000.0,2018-11-05,30,101.0
4,105,Karan Patel,Sales Manager,78000.0,2019-07-17,40,101.0
5,106,Deepa Nair,HR Executive,42000.0,2020-03-14,10,102.0
6,107,Vikas Reddy,Recruiter,38000.0,2021-01-09,10,102.0
7,108,Amit Verma,Accountant,45000.0,2020-09-22,20,103.0
8,109,Sonal Gupta,Financial Analyst,52000.0,2021-06-13,20,103.0
9,110,Neha Mehta,IT Developer,61000.0,2020-08-18,30,104.0
10,111,Arjun Das,Software Engineer,64000.0,2022-02-20,30,104.0
11,112,Pooja Iyer,Data Analyst,58000.0,2021-10-27,30,104.0
12,113,Ramesh Rao,Sales Executive,47000.0,2022-05-15,40,105.0
13,114,Sneha Joshi,Sales Representative,43000.0,2023-01-05,40,105.0
14,115,Dev Patel,Sales Intern,25000.0,2024-04-12,40,105.0
15,116,Tina George,Operations Lead,67000.0,2020-12-01,50,101.0
16,117,Rahul Roy,Operations Executive,45000.0,2021-08-09,50,116.0
17,118,Meena Paul,Logistics Officer,42000.0,2022-07-19,50,116.0
18,119,Abhishek Yadav,Clerk,32000.0,2023-03-28,20,103.0
19,120,Lakshmi Menon,Assistant HR,37000.0,2024-02-12,10,102.0

In [31]:
type(emp['hire_date'][0])

datetime.date

In [8]:
emp.to_csv('emp.csv',index=False)

In [51]:
emp2=pd.read_csv('emp.csv')
emp2

,emp_id,emp_name,job_title,salary,hire_date,dept_id,manager_id
0,101,John Mathews,General Manager,90000.0,2017-03-10,50,NaN
1,102,Priya Sharma,HR Manager,75000.0,2018-06-21,10,101.0
2,103,Ravi Kumar,Finance Manager,72000.0,2019-02-11,20,101.0
3,104,Anita Singh,IT Manager,85000.0,2018-11-05,30,101.0
4,105,Karan Patel,Sales Manager,78000.0,2019-07-17,40,101.0
5,106,Deepa Nair,HR Executive,42000.0,2020-03-14,10,102.0
6,107,Vikas Reddy,Recruiter,38000.0,2021-01-09,10,102.0
7,108,Amit Verma,Accountant,45000.0,2020-09-22,20,103.0
8,109,Sonal Gupta,Financial Analyst,52000.0,2021-06-13,20,103.0
9,110,Neha Mehta,IT Developer,61000.0,2020-08-18,30,104.0
10,111,Arjun Das,Software Engineer,64000.0,2022-02-20,30,104.0
11,112,Pooja Iyer,Data Analyst,58000.0,2021-10-27,30,104.0
12,113,Ramesh Rao,Sales Executive,47000.0,2022-05-15,40,105.0
13,114,Sneha Joshi,Sales Representative,43000.0,2023-01-05,40,105.0
14,115,Dev Patel,Sales Intern,25000.0,2024-04-12,40,105.0
15,116,Tina George,Operations Lead,67000.0,2020-12-01,50,101.0
16,117,Rahul Roy,Operations Executive,45000.0,2021-08-09,50,116.0
17,118,Meena Paul,Logistics Officer,42000.0,2022-07-19,50,116.0
18,119,Abhishek Yadav,Clerk,32000.0,2023-03-28,20,103.0
19,120,Lakshmi Menon,Assistant HR,37000.0,2024-02-12,10,102.0

In [52]:
type(emp2['hire_date'][0])

str

In [60]:
empTS=pd.read_csv('emp.csv',parse_dates=['hire_date'],index_col='hire_date')
empTS

,emp_id,emp_name,job_title,salary,dept_id,manager_id
hire_date,,,,,,
2017-03-10,101,John Mathews,General Manager,90000.0,50,NaN
2018-06-21,102,Priya Sharma,HR Manager,75000.0,10,101.0
2019-02-11,103,Ravi Kumar,Finance Manager,72000.0,20,101.0
2018-11-05,104,Anita Singh,IT Manager,85000.0,30,101.0
2019-07-17,105,Karan Patel,Sales Manager,78000.0,40,101.0
2020-03-14,106,Deepa Nair,HR Executive,42000.0,10,102.0
2021-01-09,107,Vikas Reddy,Recruiter,38000.0,10,102.0
2020-09-22,108,Amit Verma,Accountant,45000.0,20,103.0
2021-06-13,109,Sonal Gupta,Financial Analyst,52000.0,20,103.0
2020-08-18,110,Neha Mehta,IT Developer,61000.0,30,104.0
2022-02-20,111,Arjun Das,Software Engineer,64000.0,30,104.0
2021-10-27,112,Pooja Iyer,Data Analyst,58000.0,30,104.0
2022-05-15,113,Ramesh Rao,Sales Executive,47000.0,40,105.0
2023-01-05,114,Sneha Joshi,Sales Representative,43000.0,40,105.0
2024-04-12,115,Dev Patel,Sales Intern,25000.0,40,105.0
2020-12-01,116,Tina George,Operations Lead,67000.0,50,101.0
2021-08-09,117,Rahul Roy,Operations Executive,45000.0,50,116.0
2022-07-19,118,Meena Paul,Logistics Officer,42000.0,50,116.0
2023-03-28,119,Abhishek Yadav,Clerk,32000.0,20,103.0
2024-02-12,120,Lakshmi Menon,Assistant HR,37000.0,10,102.0

In [61]:
empTS.index

DatetimeIndex(['2017-03-10', '2018-06-21', '2019-02-11', '2018-11-05',
               '2019-07-17', '2020-03-14', '2021-01-09', '2020-09-22',
               '2021-06-13', '2020-08-18', '2022-02-20', '2021-10-27',
               '2022-05-15', '2023-01-05', '2024-04-12', '2020-12-01',
               '2021-08-09', '2022-07-19', '2023-03-28', '2024-02-12'],
              dtype='datetime64[ns]', name='hire_date', freq=None)

In [62]:
empTS.loc['2020']

            emp_id     emp_name        job_title   salary  dept_id  manager_id
hire_date
2020-03-14     106   Deepa Nair     HR Executive  42000.0       10       102.0
2020-09-22     108   Amit Verma       Accountant  45000.0       20       103.0
2020-08-18     110   Neha Mehta     IT Developer  61000.0       30       104.0
2020-12-01     116  Tina George  Operations Lead  67000.0       50       101.0

In [66]:
empTS.loc['2020']['salary'].mean()

np.float64(53750.0)

In [67]:
empTS.loc['2020']['salary'].min()

42000.0

In [68]:
empTS.loc['2020']['salary'].max()

67000.0

In [70]:
empTS.loc['2020':'2023']

,emp_id,emp_name,job_title,salary,dept_id,manager_id
hire_date,,,,,,
2020-03-14,106,Deepa Nair,HR Executive,42000.0,10,102.0
2020-08-18,110,Neha Mehta,IT Developer,61000.0,30,104.0
2020-09-22,108,Amit Verma,Accountant,45000.0,20,103.0
2020-12-01,116,Tina George,Operations Lead,67000.0,50,101.0
2021-01-09,107,Vikas Reddy,Recruiter,38000.0,10,102.0
2021-06-13,109,Sonal Gupta,Financial Analyst,52000.0,20,103.0
2021-08-09,117,Rahul Roy,Operations Executive,45000.0,50,116.0
2021-10-27,112,Pooja Iyer,Data Analyst,58000.0,30,104.0
2022-02-20,111,Arjun Das,Software Engineer,64000.0,30,104.0
2022-05-15,113,Ramesh Rao,Sales Executive,47000.0,40,105.0
2022-07-19,118,Meena Paul,Logistics Officer,42000.0,50,116.0
2023-01-05,114,Sneha Joshi,Sales Representative,43000.0,40,105.0
2023-03-28,119,Abhishek Yadav,Clerk,32000.0,20,103.0

In [73]:
empTS['salary'].resample('M').sum()

C:\Users\lokes\AppData\Local\Temp\ipykernel_7456\2548537634.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  empTS['salary'].resample('M').sum()

hire_date
2017-03-31    90000.0
2017-04-30        0.0
2017-05-31        0.0
2017-06-30        0.0
2017-07-31        0.0
               ...
2023-12-31        0.0
2024-01-31        0.0
2024-02-29    37000.0
2024-03-31        0.0
2024-04-30    25000.0
Freq: ME, Name: salary, Length: 86, dtype: float64

In [74]:
#generating first 45 dates of 2025
dates=pd.date_range(start='2025-01-01',periods=45,freq='D')
dates

DatetimeIndex(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04',
               '2025-01-05', '2025-01-06', '2025-01-07', '2025-01-08',
               '2025-01-09', '2025-01-10', '2025-01-11', '2025-01-12',
               '2025-01-13', '2025-01-14', '2025-01-15', '2025-01-16',
               '2025-01-17', '2025-01-18', '2025-01-19', '2025-01-20',
               '2025-01-21', '2025-01-22', '2025-01-23', '2025-01-24',
               '2025-01-25', '2025-01-26', '2025-01-27', '2025-01-28',
               '2025-01-29', '2025-01-30', '2025-01-31', '2025-02-01',
               '2025-02-02', '2025-02-03', '2025-02-04', '2025-02-05',
               '2025-02-06', '2025-02-07', '2025-02-08', '2025-02-09',
               '2025-02-10', '2025-02-11', '2025-02-12', '2025-02-13',
               '2025-02-14'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
#generating first 45 dates of 2025
dates=pd.date_range(start='2025-01-01',periods=45,freq='D')
dates