In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('landprices.csv')
df

               area  price
0     Ameerpet 2300    NaN
1      SRNagar 2200    NaN
2      Miyapur 1800    NaN
3     Moosapet 2200    NaN
4           KP 2150    NaN
5         KPHB 1900    NaN
6  HitechCity 68000    NaN